<div class="p-4 w-full h-full">
  <div class="mb-4">
    <button
      class="border border-gray-400 bg-lime-700 p-1 text-zinc-200 font-semibold"
      (click)="createPassword()"
    >
      new
    </button>
  </div>
  <div class="max-h-screen">
    <div
      class="w-full max-w-[calc(100vw-130px)] h-[calc(100vh-150px)] overflow-auto"
    >
      <div class="w-full">
        <div
          class="flex flex-row w-full grow bg-gray-400 p-2 mb-2 text-black"
          *ngFor="let obj of passwords"
        >
          <div class="flex flex-row grow mr-2">
            <div class="flex flex-col mr-2">
              <img src="{{ obj.icon_url }}" alt="" width="50" height="50" />
            </div>
            <div class="flex flex-col">
              <div class="flex flex-col">{{ obj.name }}</div>
              <div class="flex flex-col">{{ obj.username }}</div>
            </div>
          </div>
          <div class="flex flex-col items-end">
            <div class="flex flex-col">
              <button class="material-icons text-black">more_horiz</button>
            </div>
            <div class="flex flex-col">Created: {{ obj.created_at }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
