<div class="h-full w-full p-4">
  <div class="mb-4">
    <button
      class="border border-gray-400 bg-lime-700 p-1 font-semibold text-zinc-200"
      (click)="createPassword()"
    >
      new
    </button>
  </div>
  <div class="max-h-screen">
    <div
      class="relative z-0 h-[calc(100vh-150px)] w-full max-w-[calc(100vw-130px)] overflow-auto"
    >
      <div class="w-full">
        <div
          class="mb-2 flex w-full grow flex-row bg-gray-400 p-2 text-black"
          *ngFor="let obj of passwords"
        >
          <div class="mr-2 flex grow flex-row">
            <div class="mr-2 flex flex-col">
              <img src="{{ obj.icon_url }}" alt="" width="50" height="50" />
            </div>
            <div class="flex flex-col">
              <div class="flex flex-col">{{ obj.name }}</div>
              <div class="flex flex-col">{{ obj.username }}</div>
            </div>
          </div>
          <div class="flex flex-col items-end">
            <div class="flex flex-col">
              <button
                class="material-icons text-black"
                id="dropdownMenu"
                (click)="changeExpanded(obj)"
              >
                more_horiz
              </button>
            </div>
            <div class="relative -inset-x-32">
              <ul
                class="  {{
                  obj.expanded ? 'block' : 'hidden'
                }} absolute z-100 float-left m-0 min-w-max list-none overflow-hidden rounded-lg border-none bg-white bg-clip-padding text-left text-base shadow-lg dark:bg-neutral-700 "
              >
                <li>
                  <button
                    class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-left text-sm font-normal text-white hover:bg-neutral-600"
                    (click)="showDetail(obj.id); changeExpanded(obj)"
                  >
                    Show Detail
                  </button>
                </li>
                <li>
                  <button
                    class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-left text-sm font-normal text-white hover:bg-neutral-600"
                    (click)="getPasswordDecrypted(obj.id); changeExpanded(obj)"
                  >
                    Copy Password
                  </button>
                </li>
              </ul>
            </div>
            <div class="flex flex-col">Created: {{ obj.created_at }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
