<div class="p-4 w-full h-full">
  <form
    class="mb-4"
    (submit)="createPassword($event, name.value, url.value, password.value)"
    autocomplete="off"
    novalidate
    [formGroup]="requestForm"
  >
    <div class="flex flex-row">
      <div class="flex flex-col">
        <div class="flex flex-row mt-2">
          <div class="flex flex-col">
            <label class="text-white w-24">URL</label>
          </div>
          <div class="flex flex-col">
            <input
              class="mr-2 border w-full border-gray-400 bg-primary-1 box-border p-1 text-white"
              #url
              formControlName="url"
              placeholder="Enter a url"
            />
          </div>
        </div>
        <div class="flex flex-row mt-2">
          <div class="flex flex-col">
            <label class="text-white w-24">Username</label>
          </div>
          <div class="flex flex-col">
            <input
              class="mr-2 border w-full border-gray-400 bg-primary-1 box-border p-1 text-white"
              #name
              formControlName="name"
              placeholder="Enter a name..."
            />
          </div>
        </div>
        <div class="flex flex-row mt-2">
          <div class="flex flex-col">
            <label class="text-white w-24">Password</label>
          </div>
          <div class="flex flex-col">
            <input
              class="mr-2 border w-full border-gray-400 bg-primary-1 box-border p-1 text-white"
              #password
              formControlName="password"
              type="password"
              placeholder="Enter a password"
            />
          </div>
          <div class="flex flex-col justify-center">
            <button
              title="Auto Generate"
              class="material-icons text-green-900"
              type="button"
              (click)="generateTotp()"
            >
              refresh
            </button>
          </div>
        </div>
        <div class="flex flex-row mt-2">
          <button
            class="border border-gray-400 bg-lime-700 p-1 text-zinc-200 font-semibold"
            type="submit"
          >
            create
          </button>
        </div>
      </div>
    </div>
  </form>

  <div class="max-h-screen">
    <div
      class="w-full max-w-[calc(100vw-120px)] h-[calc(100vh-220px)] overflow-auto"
    >
      <table
        class="table-fixed overflow-scroll text-sm text-left text-slate-200 break-words"
      >
        <thead class="uppercase bg-gray-400 border border-gray-700">
          <tr>
            <th width="120" class="p-2">Action</th>

            <th
              *ngFor="let dat of tableModel"
              class="border border-gray-700 p-2"
              [width]="dat.width"
            >
              {{ dat.label }}
            </th>
          </tr>
        </thead>
        <tbody class="border border-gray-700">
          <tr
            class="border-b border-gray-700 bg-gray-500"
            *ngFor="let obj of passwords"
          >
            <td class="text-right" width="120">
              <button
                class="material-icons text-red-900"
                (click)="deletePassword(obj.id)"
              >
                delete
              </button>
              <button
                title="copy password to clipboard"
                class="material-icons text-green-900"
                (click)="getPasswordDecrypted(obj.id)"
              >
                copy_all
              </button>
            </td>
            <td
              class="border border-gray-700 p-2"
              *ngFor="let dat of tableModel"
              [width]="dat.width"
            >
              {{ obj[dat.prop] }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
