<div class="h-full w-full p-4">
  <div class="mb-4">
    <button
      class="border border-gray-400 bg-lime-700 p-1 font-semibold text-zinc-200"
      (click)="createPassword()"
    >
      new
    </button>
  </div>
  <div class="max-h-screen">
    <div
      class="h-[calc(100vh-150px)] w-full max-w-[calc(100vw-120px)] overflow-auto"
    >
      <table
        class="table-fixed overflow-scroll break-words text-left text-sm text-slate-200"
      >
        <thead class="border border-gray-700 bg-gray-400 uppercase">
          <tr>
            <th width="120" class="p-2">Action</th>

            <th
              *ngFor="let dat of tableModel"
              class="border border-gray-700 p-2"
              [width]="dat.width"
            >
              {{ dat.label }}
            </th>
          </tr>
        </thead>
        <tbody class="border border-gray-700">
          <tr
            class="border-b border-gray-700 bg-gray-500"
            *ngFor="let obj of passwords"
          >
            <td class="text-right" width="120">
              <button
                class="material-icons text-red-900"
                (click)="deletePassword(obj.id)"
              >
                delete
              </button>
              <button
                title="copy password to clipboard"
                class="material-icons text-green-900"
                (click)="getPasswordDecrypted(obj.id)"
              >
                copy_all
              </button>
            </td>
            <td
              class="border border-gray-700 p-2"
              *ngFor="let dat of tableModel"
              [width]="dat.width"
            >
              {{ obj[dat.prop] }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
