<div
  class="flex h-full w-screen content-center items-center justify-center p-4"
>
  <form
    class="mb-4"
    (submit)="
      createPassword(
        $event,
        name.value,
        url.value,
        iconUrl.value,
        username.value,
        password.value
      )
    "
    autocomplete="off"
    novalidate
    [formGroup]="requestForm"
  >
    <div class="flex flex-row">
      <div class="flex flex-col">
        <div class="mt-2 flex flex-row">
          <div class="flex flex-col">
            <label class="w-24 text-white">URL *</label>
          </div>
          <div class="flex flex-col">
            <input
              class="bg-primary-1 mr-2 box-border w-full border border-gray-400 p-1 text-white"
              #url
              formControlName="url"
              placeholder="Enter a url"
              required
            />
          </div>
        </div>
        <div class="mt-2 flex flex-row">
          <div class="flex flex-col">
            <label class="w-24 text-white">Icon URL</label>
          </div>
          <div class="flex flex-col">
            <input
              class="bg-primary-1 mr-2 box-border w-full border border-gray-400 p-1 text-white"
              #iconUrl
              formControlName="iconUrl"
              placeholder="Enter a iconUrl"
            />
          </div>
        </div>
        <div class="mt-2 flex flex-row">
          <div class="flex flex-col">
            <label class="w-24 text-white">Name *</label>
          </div>
          <div class="flex flex-col">
            <input
              class="bg-primary-1 mr-2 box-border w-full border border-gray-400 p-1 text-white"
              #name
              formControlName="name"
              placeholder="Enter a name..."
              required
            />
          </div>
        </div>
        <div class="mt-2 flex flex-row">
          <div class="flex flex-col">
            <label class="w-24 text-white">Username *</label>
          </div>
          <div class="flex flex-col">
            <input
              class="bg-primary-1 mr-2 box-border w-full border border-gray-400 p-1 text-white"
              #username
              formControlName="username"
              placeholder="Enter a username..."
              required
            />
          </div>
        </div>
        <div class="mt-2 flex flex-row">
          <div class="flex flex-col">
            <label class="w-24 text-white">Password *</label>
          </div>
          <div class="flex flex-col">
            <input
              class="bg-primary-1 mr-2 box-border w-full border border-gray-400 p-1 text-white"
              #password
              formControlName="password"
              type="password"
              placeholder="Enter a password"
              required
            />
          </div>
          <div class="flex flex-col justify-center">
            <button
              title="Auto Generate"
              class="material-icons text-green-900"
              type="button"
              (click)="generateRandomPassword()"
            >
              refresh
            </button>
          </div>
        </div>
        <div class="mt-2 flex flex-row">
          <button
            class="border border-gray-400 bg-lime-700 p-1 font-semibold text-zinc-200"
            type="submit"
          >
            create
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
