<div
  class="p-4 w-screen flex h-full items-center justify-center content-center"
>
  <form
    class="mb-4"
    (submit)="
      createPassword(
        $event,
        name.value,
        url.value,
        username.value,
        password.value
      )
    "
    autocomplete="off"
    novalidate
    [formGroup]="requestForm"
  >
    <div class="flex flex-row">
      <div class="flex flex-col">
        <div class="flex flex-row mt-2">
          <div class="flex flex-col">
            <label class="text-white w-24">URL</label>
          </div>
          <div class="flex flex-col">
            <input
              class="mr-2 border w-full border-gray-400 bg-primary-1 box-border p-1 text-white"
              #url
              formControlName="url"
              placeholder="Enter a url"
            />
          </div>
        </div>
        <div class="flex flex-row mt-2">
          <div class="flex flex-col">
            <label class="text-white w-24">name</label>
          </div>
          <div class="flex flex-col">
            <input
              class="mr-2 border w-full border-gray-400 bg-primary-1 box-border p-1 text-white"
              #name
              formControlName="name"
              placeholder="Enter a name..."
            />
          </div>
        </div>
        <div class="flex flex-row mt-2">
          <div class="flex flex-col">
            <label class="text-white w-24">Username</label>
          </div>
          <div class="flex flex-col">
            <input
              class="mr-2 border w-full border-gray-400 bg-primary-1 box-border p-1 text-white"
              #username
              formControlName="username"
              placeholder="Enter a username..."
            />
          </div>
        </div>
        <div class="flex flex-row mt-2">
          <div class="flex flex-col">
            <label class="text-white w-24">Password</label>
          </div>
          <div class="flex flex-col">
            <input
              class="mr-2 border w-full border-gray-400 bg-primary-1 box-border p-1 text-white"
              #password
              formControlName="password"
              type="password"
              placeholder="Enter a password"
            />
          </div>
          <div class="flex flex-col justify-center">
            <button
              title="Auto Generate"
              class="material-icons text-green-900"
              type="button"
              (click)="generateRandomPassword()"
            >
              refresh
            </button>
          </div>
        </div>
        <div class="flex flex-row mt-2">
          <button
            class="border border-gray-400 bg-lime-700 p-1 text-zinc-200 font-semibold"
            type="submit"
          >
            create
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
