<div class="flex w-screen h-screen bg-primary-2 font-color">
  <div class="flex-none flex-col h-full bg-primary-3 w-[180px] font-medium">
    <div class="flex flex-row p-2">Password Manager</div>
    <div
      class="flex flex-row mt-24"
      [routerLink]="['/passwordList']"
      routerLinkActive="is-active"
    >
      <div class="pl-2">
        <button>Vault</button>
      </div>
    </div>
    <div
      class="flex flex-row"
      [routerLink]="['/passwordList2']"
      routerLinkActive="is-active"
    >
      <div class="pl-2">
        <button>Vault2</button>
      </div>
    </div>
    <div class="flex flex-row">
      <div class="pl-2">
        <button>Menu 2</button>
      </div>
    </div>
  </div>
  <div class="w-full h-full">
    <router-outlet></router-outlet>
  </div>
</div>
