<div class="flex w-screen h-screen bg-primary-2 font-color">
  <div class="flex-none flex-col h-full bg-primary-3 w-[180px] font-medium">
    <div class="flex flex-row p-2">Password Manager</div>
    <div
      class="flex flex-row mt-24"
      [routerLink]="['/home']"
      routerLinkActive="is-active"
    >
      <div class="pl-2">
        <button>Home</button>
      </div>
    </div>
    <div
      class="flex flex-row"
      [routerLink]="['/passwordList']"
      routerLinkActive="is-active"
    >
      <div class="pl-2">
        <button>Vault</button>
      </div>
    </div>

    <div
      class="flex flex-row"
      [routerLink]="['/oauth']"
      routerLinkActive="is-active"
    >
      <div class="pl-2">
        <button>Oauth</button>
      </div>
    </div>
    <div class="flex flex-row">
      <div class="pl-2">menu 4</div>
    </div>
    <div class="flex flex-row">
      <div class="pl-2">menu 5</div>
    </div>
    <div class="flex flex-row mt-auto">
      <div class="pl-2">bottom menu 5</div>
    </div>
  </div>
  <div class="w-full h-full">
    <router-outlet></router-outlet>
  </div>
</div>
